div.language-versions span {
  display: flex;
  align-items: center;
}

div.language-versions {
  display: flex;
  flex-direction: column;
  gap: var(--wp--preset--spacing--5);
  font-size: calc(var(--wp--preset--font-size--small) * 0.9);
}

.archive div.language-versions {
  background: whitesmoke;
  padding: var(--wp--preset--spacing--5);
  width: calc(100% - (2 * var(--wp--preset--spacing--5)));
  border-radius: var(--wp--preset--spacing--5);
  margin-top: auto;
}

ul.language-versions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 0.75rem;
}

.language-versions li {
  width: fit-content;
  display: flex;
}

.language-versions li a {
  display: inline-flex;
  align-items: center;
  background: white;
  gap: 0.25rem;
  padding: 0 0.35rem;
  border: 1px solid #d4d4d4;
  border-radius: 30px;
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 3px;
}

.language-versions li a:hover {
  outline-color: #999;
}

.language-versions svg {
  scale: 0.75;
}

/* ul.language-versions li:has(svg.fr) {
  grid-column: 3/4;

  grid-row: 1;
}

ul.language-versions li:has(svg.de) {
  grid-column: 2/3;

  grid-row: 1;
}

ul.language-versions li:has(svg.gb) {
  grid-column: 1/2;

  grid-row: 1;
} */

.en_GB a.gb {
  outline-color: #999;
}

.DE a.de {
  background: tomato;
}

.FR a.fr {
  background: tomato;
}
